{% extends "base.html" %}

{% block name_form %} Авторизация {% endblock %}
{% block title %}{% endblock %}

{% block content %}
    <h1>Войти</h1>
    {% if form.errors %}
        <p>
            Ваше имя пользователя и/или пароль не подходят. Пожалуйста, попробуйте еще раз.
        </p>
    {% else %}
        <p>Пожалуйста, используйте следующую форму для входа:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}